/* Regler bara för index.html */
.wanderer {
    background: #000;
    color: #FFF;
}
.wanderer .vimeo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}
.wanderer .vimeo iframe {
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 230vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}
.wanderer main {
    /* CSS-trick för vertikal centrering */
    display: grid;
    align-items: center;
}

.mars h1 {
    color: #5D0B0D;
}
.mars header nav a {
    color: #5D0B0D;
}
.mars header nav a:hover, .mars header nav a.active {
    border-bottom: 3px solid #5D0B0D;
}