

:root{
    --sea-green: #388659ff;
    --pigment-green: #52aa5eff;
    --zomp: #52aa8aff;
    --process-cyan: #3aaed8ff;
    --vivid-sky-blue: #2bd9feff;
}

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
 background-color: black;
}

.kontainer{
    background-color: green;
    width: 800px;
    margin-left: 450px;
}

.inlägg{
    margin-left: 20px;
    padding: 50px;
    margin-bottom: 40px;
}

h1 {

}

h2{

}
img{
    width: 100%;
}